<?xml version="1.0"?>
<model>
  <name>black_bin</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Franka Pick Place</name>
    <email>user@example.com</email>
  </author>
  <description>
    A black storage bin for collecting objects
  </description>
</model>
